   include LICENSE
   include README.md
   recursive-include md_processing/data *.json *.py
   recursive-include md_processing/md_commands *.py
   recursive-include md_processing/md_processing_utils/tests *.csv *.md *.txt
   recursive-include tests *.py *.ini *.ipynb *.md *.txt