
# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "pyegeria"
version = "0.1.2.0"
authors = [
    {name ="Dan Wolfson", email= "dan.wolfson@pdr-associates.com"},
]
description = "A python client for Egeria"
readme= "README.md"
requires-python = ">=3.10"
dependencies = [
    "requests~=2.31.0",
    "validators~=0.22.0",
    "pytest~=7.4.2",
    "urllib3~=1.26.15",
    "tabulate~=0.9.0",
    "pandas~=2.2.0"
]
keywords = ["egeria", "metadata", "governance"]
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
 ]


[project.urls]
Homepage = "https://github.com/odpi/egeria-python"
Issues = "https://github.com/odpi/egeria-python/issues"


