[tool.poetry]
name = "pyegeria"
version = "0.7.25"
license = 'Apache 2.0'
authors = ["Dan Wolfson <dan.wolfson@pdr-associates.com>"]
readme = "README.md"
description = "A python client for Egeria"
keywords = ["egeria", "metadata", "governance"]
homepage = "https://github.com/odpi/egeria-python"

repository = "https://github.com/odpi/egeria-python"
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
 ]
packages = [
    { include = "pyegeria"},
    { include = "examples/widgets/cat" },
    { include = "examples/widgets/tech" },
    { include = "examples/widgets/ops"},
    { include = "examples/widgets/my"},
    { include = "examples/doc_samples"},
    { include = "examples/widgets/cli"}
    ]

[tool.poetry.dependencies]
python = "^3.11"
httpx = "^0.27.0"
rich = "^13.7.1"
validators = "^0.32.0"
urllib3 = "^2.2.2"
requests = "^2.32.3"
confluent-kafka = "^2.5.0"
pytest = "^8.2.2"
jupyter = "^1.0.0"
click = "^8.1.7"
trogon = "^0.5.0"
textual-forms = "^0.3.0"
textual = "^0.75.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^8.2.2"


[tool.poetry.scripts]
    list_assets = "examples.widgets.cat.list_assets:main"
    list_tech_types = "examples.widgets.cat.list_tech_types:main"
    get_asset_graph = "examples.widgets.cat.get_asset_graph:main"
    get_collection = "examples.widgets.cat.get_collection:main"
    list_glossary = "examples.widgets.cat.list_glossary:main"
    get_tech_type_elements = "examples.widgets.cat.get_tech_type_elements:main"
    get_tech_type_template = "examples.widgets.cat.get_tech_type_template:main"
    list_projects = "examples.widgets.cat.list_projects:main"
    list_todos = "examples.widgets.cat.list_todos:main"
    list_cert_types = "examples.widgets.cat.list_cert_types:main"
    get_project_structure = "examples.widgets.cat.get_project_structure:main"
    get_project_dependencies = "examples.widgets.cat.get_project_dependencies:main"
    list_relationships = "examples.widgets.cat.list_relationships:main"
    list_user_ids = "examples.widgets.cat.list_user_ids:main"

    monitor_asset_events = "examples.widgets.ops.monitor_asset_events:main"
    monitor_coco_status = "examples.widgets.ops.monitor_coco_status:main"
    monitor_engine_activity = "examples.widgets.ops.monitor_engine_activity:main_live"
    list_engine_activity = "examples.widgets.ops.monitor_engine_activity:main_paging "
    monitor_gov_eng_status = "examples.widgets.ops.monitor_gov_eng_status:main_live"
    list_gov_eng_status = "examples.widgets.ops.monitor_gov_eng_status:main_paging"
    monitor_integ_daemon_status = "examples.widgets.ops.monitor_integ_daemon_status:main_live"
    list_integ_daemon_status = "examples.widgets.ops.monitor_integ_daemon_status:main_paging"
    monitor_platform_status = "examples.widgets.ops.monitor_platform_status:main"
    monitor_server_list = "examples.widgets.ops.monitor_server_list:main"
    monitor_server_status = "examples.widgets.ops.monitor_server_status:main"
    refresh_integration_daemon = "examples.widgets.ops.refresh_integration_daemon:main"
    restart_integration_daemon = "examples.widgets.ops.restart_integration_daemon:main"
    load_archive = "examples.widgets.ops.load_archive:load_archive"
    load_archive_tui = "examples.widgets.ops.load_archive:tui"
    list_catalog_targets = "examples.widgets.ops.list_catalog_targets:main"
    start_daemon = "examples.widgets.ops.engine_actions:start_daemon"
    stop_daemon = "examples.widgets.ops.engine_actions:stop_daemon"

    list_my_profile = "examples.widgets.my.list_my_profile:main"
    monitor_open_todos = "examples.widgets.my.monitor_open_todos:main"
    monitor_my_todos = "examples.widgets.my.monitor_my_todos:main"
    create_todo = "examples.widgets.my.todo_actions:create_todo"
    delete_todo = "examples.widgets.my.todo_actions:delete_todo"
    change_todo_status = "examples.widgets.my.todo_actions:change_todo_status"
    mark_todo_complete = "examples.widgets.my.todo_actions:mark_todo_complete"
    reassign_todo = "examples.widgets.my.todo_actions:reassign_todo"


    hey_egeria_ops = "examples.widgets.cli.egeria_ops:cli"
    hey_egeria_cat = "examples.widgets.cli.egeria_cat:cli"
    hey_egeria_tech = "examples.widgets.cli.egeria_cat:cli"
    hey_egeria_my = "examples.widgets.cli.egeria_my:cli"
    hey_egeria = "examples.widgets.cli.egeria:cli"

    get_guid_info = "examples.widgets.tech.get_guid_info:main"
    get_tech_details = "examples.widgets.tech.get_tech_details:main"
    list_asset_types = "examples.widgets.tech.list_asset_types:main"
    list_registered_services = "examples.widgets.tech.list_registered_services:main"
    list_relationship_types = "examples.widgets.tech.list_relationship_types:main"
    list_tech_templates = "examples.widgets.tech.list_tech_templates:main"
    get_element_info = "examples.widgets.tech.get_element_info:main"
    list_elements = "examples.widgets.tech.list_elements:main"
    list_related_specification = "examples.widgets.tech.list_related_specification:main"

    list_valid_metadata_values = "examples.widgets.tech.list_valid_metadata_values:main"
