[tool.poetry]
name = "pyegeria"
version = "0.5.6.1"
license = 'Apache 2.0'
authors = ["Dan Wolfson <dan.wolfson@pdr-associates.com>"]
readme = "README.md"
description = "A python client for Egeria"
keywords = ["egeria", "metadata", "governance"]
homepage = "https://github.com/odpi/egeria-python"

repository = "https://github.com/odpi/egeria-python"
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
 ]
packages = [
    { include = "pyegeria"},
    { include = "examples/widgets/catalog_user" },
    { include = "examples/widgets/developer" },
    { include = "examples/widgets/operational"},
    { include = "examples/widgets/personal_organizer"},
    { include = "examples/doc_samples"}
    ]

[tool.poetry.dependencies]
python = "^3.11"
httpx = "^0.27.0"
rich = "^13.7.1"
validators = "^0.32.0"
urllib3 = "^2.2.2"
requests = "^2.32.3"
confluent-kafka = "^2.5.0"
pytest = "^8.2.2"
jupyter = "^1.0.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^8.2.2"


[tool.poetry.scripts]
    list_assets = "examples.widgets.catalog_user.list_assets:main"
    view_asset_graph = "examples.widgets.catalog_user.view_asset_graph:main"
    view_collection = "examples.widgets.catalog_user.view_collection:main"
    view_glossary = "examples.widgets.catalog_user.view_glossary:main"

    get_tech_type_elements = "examples.widgets.operational.get_tech_type_elements:main"
    get_tech_type_template = "examples.widgets.operational.get_tech_type_template:main"
    view_asset_events = "examples.widgets.operational.view_asset_events:main"
    view_coco_status = "examples.widgets.operational.view_coco_status:main"
    view_eng_action_status = "examples.widgets.operational.view_eng_action_status:main"
    view_gov_eng_status = "examples.widgets.operational.view_gov_eng_status:main"
    view_integ_daemon_status = "examples.widgets.operational.view_integ_daemon_status:main"
    view_platform_status = "examples.widgets.operational.view_platform_status:main"
    view_server_list = "examples.widgets.operational.view_server_list:main"
    view_server_status = "examples.widgets.operational.view_server_status:main"
    refresh_integration_daemon = "examples.widgets.operational.refresh_integration_daemon:main"

    get_my_profile = "examples.widgets.personal_organizer.get_my_profile:main"
    list_projects = "examples.widgets.personal_organizer.list_projects:main"
    list_todos = "examples.widgets.personal_organizer.list_todos:main"
    view_open_todos = "examples.widgets.personal_organizer.view_open_todos:main"
    view_my_todos = "examples.widgets.personal_organizer.view_my_todos:main"

    get_guid_info = "examples.widgets.developer.get_guid_info:main"
    get_tech_details = "examples.widgets.developer.get_tech_details:main"
    list_asset_types = "examples.widgets.developer.list_asset_types:main"
    list_registered_services = "examples.widgets.developer.list_registered_services:main"
    list_relationship_types = "examples.widgets.developer.list_relationship_types:main"
    list_tech_templates = "examples.widgets.developer.list_tech_templates:main"
    list_tech_types = "examples.widgets.developer.list_tech_types:main"
    list_valid_metadata_values = "examples.widgets.developer.list_valid_metadata_values:main"
