
# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.
[build-system]
#requires = ["hatchling"]
requires = ["setuptools", "wheel"]
#build-backend = "hatchling.build"
build-backend = "setuptools.build_meta"

[project]
name = "pyegeria"
version = "0.4.1"
#license = 'Apache 2.0'
authors = [
    {name ="Dan Wolfson", email= "dan.wolfson@pdr-associates.com"},
]
dependencies = [
    "requests~=2.31.0",
    "validators~=0.22.0",
    "pytest~=7.4.2",
    "urllib3~=1.26.15",
    "rich~=13.7.1",
    "httpx~=0.26.0"
]
optional-dependencies = { tests = ['pytest']}
description = "A python client for Egeria"
readme= "README.md"
requires-python = ">=3.10"

keywords = ["egeria", "metadata", "governance"]
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
 ]

[project.scripts]
    view_server_status = "widgets.operational.view_server_status:main"
    view_my_todos = "examples.widgets.personal_organizer.view_my_todos:main"
    list_asset_types = "examples.widgets.developer.list_asset_types:main"



[project.urls]
Homepage = "https://github.com/odpi/egeria-python"
Issues = "https://github.com/odpi/egeria-python/issues"


