
    <!DOCTYPE html>
    <html>
        <head>
          <style type="text/css">
            #mySvgId {
            width: 100%;
            height: 600px;
            overflow: scroll;
            border: 2px solid #ccc;
            position: relative;
            margin-bottom: 10px;
            }
            svg {
            cursor: grab;
            }
    
          </style>
        </head>
    
        <title>Solution Component - Sustainability Operational Data Store (ODS) </title>
        <h3 style="text-align: center;">Solution Component - Sustainability Operational Data Store (ODS) </h3>
        GUID : fc55ef2d-a88d-44ee-94cb-3fca9b9af8b4

    
        <body>
        
          <div id="graphDiv"></div>
          <script src="https://bumbu.me/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>
          <script type="module">
            import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    
            mermaid.initialize({startOnLoad: false});
            await mermaid.run({
              querySelector: '.mermaid',
              postRenderCallback: (id) => {
                const container = document.getElementById("diagram-container");
                const svgElement = container.querySelector("svg");
    
                // Initialize Panzoom
                const panzoomInstance = Panzoom(svgElement, {
                  maxScale: 5,
                  minScale: 0.5,
                  step: 0.1,
                });
    
                // Add mouse wheel zoom
                container.addEventListener("wheel", (event) => {
                  panzoomInstance.zoomWithWheel(event);
                });
              }
            });
    
    
            const drawDiagram = async function () {
              const element = document.querySelector('#graphDiv');
              const graphDefinition = `
    flowchart TD
%%{init: {"flowchart": {"htmlLabels": false}} }%%

45f3cef8-56e8-4eca-83eb-72d967731fad@{ shape: text, label: "*Description*
**A store for both the raw data needed for the sustainability calculations and the results.**"}
fc55ef2d-a88d-44ee-94cb-3fca9b9af8b4@{ shape: subproc, label: "*Solution Component*
**Sustainability Operational Data Store (ODS)**"}
2c0f5a4e-bb02-4081-a80e-3072ca99a1aa@{ shape: rect, label: "*Solution Component*
**Accounting ledgers**"}
2c0f5a4e-bb02-4081-a80e-3072ca99a1aa-->|"Solution Linking Wire"|fc55ef2d-a88d-44ee-94cb-3fca9b9af8b4
06edd666-06fd-43ef-b7bd-22e2651c334f@{ shape: rect, label: "*Solution Component*
**Sustainability Calculators**"}
06edd666-06fd-43ef-b7bd-22e2651c334f-->|"Solution Linking Wire"|fc55ef2d-a88d-44ee-94cb-3fca9b9af8b4
25fd5be7-692d-4752-9dc7-30068a7d665e@{ shape: rect, label: "*Solution Component*
**Hazardous Materials (HazMat) Inventory**"}
25fd5be7-692d-4752-9dc7-30068a7d665e-->|"Solution Linking Wire"|fc55ef2d-a88d-44ee-94cb-3fca9b9af8b4
50768e61-43b6-4241-96a3-4c413582ec1f@{ shape: rect, label: "*Solution Component*
**Goods Inventory**"}
50768e61-43b6-4241-96a3-4c413582ec1f-->|"Solution Linking Wire"|fc55ef2d-a88d-44ee-94cb-3fca9b9af8b4
02cdce9a-7630-479a-90de-fd7698d098f1@{ shape: rect, label: "*Solution Component*
**Employee Expense Tool**"}
02cdce9a-7630-479a-90de-fd7698d098f1-->|"Solution Linking Wire"|fc55ef2d-a88d-44ee-94cb-3fca9b9af8b4
style 45f3cef8-56e8-4eca-83eb-72d967731fad color:#000000, fill:#F9F7ED, stroke:#b7c0c7
style 50768e61-43b6-4241-96a3-4c413582ec1f color:#FFFFFF, fill:#838cc7, stroke:#3079ab
style fc55ef2d-a88d-44ee-94cb-3fca9b9af8b4 color:#FFFFFF, fill:#838cc7, stroke:#3079ab
style 25fd5be7-692d-4752-9dc7-30068a7d665e color:#FFFFFF, fill:#838cc7, stroke:#3079ab
style 06edd666-06fd-43ef-b7bd-22e2651c334f color:#FFFFFF, fill:#838cc7, stroke:#3079ab
style 02cdce9a-7630-479a-90de-fd7698d098f1 color:#FFFFFF, fill:#838cc7, stroke:#3079ab
style 2c0f5a4e-bb02-4081-a80e-3072ca99a1aa color:#FFFFFF, fill:#838cc7, stroke:#3079ab`;
              const {svg} = await mermaid.render('mySvgId', graphDefinition);
              element.innerHTML = svg.replace(/( )*max-width:( 0-9\.)*px;/i, '');
    
              var doPan = false;
              var eventsHandler;
              var panZoom;
              var mousepos;
    
              eventsHandler = {
                haltEventListeners: ['mousedown', 'mousemove', 'mouseup']
    
                , mouseDownHandler: function (ev) {
                  if (event.target.className == "[object SVGAnimatedString]") {
                    doPan = true;
                    mousepos = {x: ev.clientX, y: ev.clientY}
                  }

                }
    
                , mouseMoveHandler: function (ev) {
                  if (doPan) {
                    panZoom.panBy({x: ev.clientX - mousepos.x, y: ev.clientY - mousepos.y});
                    mousepos = {x: ev.clientX, y: ev.clientY};
                    window.getSelection().removeAllRanges();
                  }
                }
    
                , mouseUpHandler: function (ev) {
                  doPan = false;
                }
    
                , init: function (options) {
                  options.svgElement.addEventListener('mousedown', this.mouseDownHandler, false);
                  options.svgElement.addEventListener('mousemove', this.mouseMoveHandler, false);
                  options.svgElement.addEventListener('mouseup', this.mouseUpHandler, false);
                }
    
                , destroy: function (options) {
                  options.svgElement.removeEventListener('mousedown', this.mouseDownHandler, false);
                  options.svgElement.removeEventListener('mousemove', this.mouseMoveHandler, false);
                  options.svgElement.removeEventListener('mouseup', this.mouseUpHandler, false);
                }
              }
              panZoom = svgPanZoom('#mySvgId', {
                zoomEnabled: true
                , controlIconsEnabled: true
                , fit: 1
                , center: 1
                , customEventsHandler: eventsHandler
              })
            };
            await drawDiagram();
          </script>
        </body>    
    